.header {
    background-color: $color-primary;
    padding: .2rem 20rem;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: .9rem;

    background-image: linear-gradient($color-fade-blue, $color-primary 50%);
    border-bottom: 1px solid $color-dark-blue-2;
    min-height: 2rem;
    position: relative;
    z-index: 1;

    &__logo{
        height: 5rem;
        align-self: center;
    }

    &__login-area{
        display: flex;
        width: 30rem;
        justify-content: space-evenly;
        padding: .5rem 0;        
    }

    &__email,
    &__password{
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    &__text{
        margin: .2rem 0;
    }

    &__input{
        padding: .2rem;
        border: 1px solid black;
    }

    &__btn{
        font-size: inherit;
        align-self: center;
        padding: .3rem .5rem;
        color: white;
        font-weight: bolder;
        background-color: $color-secondary;
        border: 1px solid $color-dark-blue;
        cursor: pointer;

        &:hover {
            background-color: $color-dark-blue;
        }
    }

    &__img {
        height: 80%;
        widows: 80%;
        fill: linear-gradient(to top,#4e69a2, $color-primary 50%);
    }

    &__link {
        color: $color-link;
        text-decoration: none;
        margin-top: .3rem;

        &:hover {
            text-decoration: underline;
        }
    }
}