.heading-1 {
    font-size: 3rem;
    font-weight: 100;
}

.heading-3 {
    font-size: 1.5rem;
    font-weight: 100;
}

.primary-text{
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 2rem;

    &--small {
        font-size: 1rem;
        line-height: 1.1;
        color: gray;
    }
}

.heading-5 {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1rem;
}

.mt-small{
    margin-top: 1rem;
} 

.mt-medium {
    margin-top: 2rem;
}

.blue-text {
    color: $color-primary;
}