* {
    /* color: white; */
}

.add-section-margin {
    margin: 4em 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
}

.section-title h4 {
    color: #3498db;
}
.section-title p {
    color: #666;
}

/* main header section starts here */

.logo {
    width: 30px;
    height: 30px;
    /* filter: sepia(30%); */
    cursor: pointer;

    /*Filter styles*/

    /* .saturate { filter: saturate(3); }
    .grayscale { filter: grayscale(100%); }
    .contrast { filter: contrast(160%); }
    .brightness { filter: brightness(0.25); }
    .blur { filter: blur(3px); }
    .invert { filter: invert(100%); }
    .sepia { filter: sepia(100%); }
    .huerotate { filter: hue-rotate(180deg); }
    .rss.opacity { filter: opacity(50%); } */

}

/* main header section ends hers*/

/* home section header starts here */

.home-section__header {
    background: linear-gradient(0deg, rgba(15, 14, 15, 0.857), rgba(235, 221, 228, 0.401)), url("../images/devs.jpg") no-repeat center center;
    background-size: cover;
    min-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    
    margin-bottom: 4em;
}

.mdl-button--colored {
    background: rgba(24, 204, 45, 0.435) !important;
    color: white !important;
}

.mdl-button--default {
    background: rgba(24, 204, 45, 0.435);
    font-weight: 100;
    color: white;
}

.home-section__header-content {
    max-width: 600px;
    padding-left: 1em;
}

.home-section__header-content p {
    font-size: 120%;
}

.subtitle-text {
    font-size: inherit;
    color: orange;
    background: green;
    padding: 0 15px;
}

/* home section header ends here */

/* home section content starts here */

.course-detail-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.icon-50 {
    font-size: 50px;
}

/* home section content ends here */


/* divider - global starts here */

.divider-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* divider-1 starts here */

.divider-1,.divider-2 {
    background: url(../images/d1.jpg) no-repeat;
    color: wheat;
}

/* divider-1 ends here */

/* divider-2 starts here */

.divider-2{ 
    background: url(../images/d1.jpg);
    background-size: cover;
    background-position: 20px;
}

.divider-right-text {
    margin-left: auto;    
}

/* divider-3 ends here */

/* courses sections starts here */

.courses-grid .mdl-cell{
    margin-bottom: 2em;
}

.courses-grid {
    width: 90%;
    margin: 0 auto;
}

.mdl-card {
    max-width: 280px;
    width: 100%;
    position: relative;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s;
    cursor: pointer;
    border-bottom: 5px solid #3498db;
}
.mdl-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translate(10px) scale(1.1);
}


/* courses sections ends here */